@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap');

*{
  --max-width: 1100px;
  --dark-color: #111;
  --light-color: ivory;
  --main-font: 'Lakki Reddy', cursive; 
}

body{
  margin:0;
  padding: 0;
  font-family:var(--main-font); 
}

h1{
  font-size:2rem;
}

li{
  font-size: 1.5rem;
  list-style-type: none;
}


/* Utility */
.my-1-all{
  margin: 1rem;
}
.my-2-all{
  margin: 2rem;
}

.my-1-side{
  margin: 0 1rem;
}
.my-2-side{
  margin: 0 2rem;
}

.py-1{
  padding: 1rem;
}
.py-2{
  padding: 2rem;
}
.py-3{
  padding: 3rem;
}
