#navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    color: var(--light-color);

    z-index: 2;
}

#navBar .logo{
    text-transform: uppercase;
}

#navBar .nav-list{
    display: flex;
}

#navBar .nav-list li{
    padding: 0 1rem;
}